# Who To Follow: Recommending Brands

In this exercise, we consider a simple dataset: users following brands. We only know of a user follows a brand or not, but not how much he or she likes this brand.  Given the brands the user is following, we would like to recommend similar brands that s/he might be interested in.  


This is another example of item-based collaborative filtering. Note! The original data comes in as a set of users following brands, so if we convert this data into a matrix of user x brand, we will encode each value as 0 (user does not follow brand) or 1 (user does follow brand). 

Given that we only have 1's and 0's, we probably should not use pearson correlation or vector cosine as a similarity metric.

You could easily extend this to product recommendations (i.e. You purchase this product (1's and 0's). Here are some other products you might like).

### Import code and data

In [7]:
import numpy as np
import pandas as pd
import seaborn as sb
from matplotlib import pyplot as plt
%matplotlib inline

In [8]:
data = pd.read_csv('user-brands.csv')
data.head()

      id       brand
0  80002      Target
1  80002  Home Depot
2  80010      Levi's
3  80010        Puma
4  80010   Cuisinart

In [9]:
print "Shape:", data.shape, "Unique User IDs:", data.id.nunique(), "Unique Brands:", data.brand.nunique()

Shape: (23804, 2) Unique User IDs: 3759 Unique Brands: 198

### User-by-brand matrix

Note that our data above is in condensed format. We could make it into a sparse matrix, which might be easier to work with.  You could do this with `pd.pivot_table`:

    M = pd.pivot_table(data, index='id', columns='brand', aggfunc='size', fill_value=0)

We use a `groupby` statement, which gives us a multi-index series, and then we make an `unstack` call to transform it into a dataframe again.  

Note that these steps are not necessary as you could complete this exercise in several different ways.

In [10]:
M = pd.pivot_table(data, index="id",columns="brand",aggfunc="size",fill_value=0)

In [11]:
M.head()

brand,6pm.com,Abercrombie & Fitch,Adidas,Aeropostale,Aldo,All Saints,Amazon.com,American Apparel,American Eagle,Ann Taylor,...,Walgreens,Walk-Over,Wet Seal,Windsor,YSL,Yves Saint Laurent,ZOO,Zara,Zipcar,vineyard vines
id,,,,,,,,,,,,,,,,,,,,,
80002,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
80010,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
80011,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
80015,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
80020,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Jaccard distance

Since we will use a neighborhood method, we need a definition of _distance_.  We'll use the _Jaccard distance_ for this. 

The [_Jaccard index_](https://en.wikipedia.org/wiki/Jaccard_index) is a similarity metric between two sets.  It measures how many elements two sets have in common, as a fraction of the total number of distinct elements in both sets.  

$$\text{Jaccard index} = \frac{ |A \cap B | }{ |A \cup B| }$$

We could make a Jaccard matrix $J$, with pairwise similarities $J_{ij}$ as entries.
- `J[i, j]` = Jaccard similarity between doc _i_ and _j_ (between 0 and 1)
- `J[i, i]` = 1, obviously, and
- `J[i, j]` = `J[i, j]`, i.e., the matrix is symmetric.

We could also define the _Jaccard distance_, which has $D_{ii} = 0$ for identical sets, and bigger values as the sets have less words in common.  We define: $D = 1 - J,$ which has values between 0 and 1.

Common applications of the Jaccard index include text clustering, but we can use it for brand clustering as well, counting the number of followers they have in common.

<hr>
## Exercise


- Create a brand-by-brand matrix, with the similarity distances between two brands in each entry.
   - Obviously, you'd have $N_{ii} = 0$ for each brand $i$, and $N_{ij} = N_{ji}$ for each pair of brands.
   - You can create a 2-dimenional `np.array` for this, or a nested dictionary `N = {i: {j: distance}}`, or anything you like.
      
      
- For a few brands of your choice, show the top most similar brands.  
   - Do your results make sense? Would you agree?
   
   
- For a few users, make a few top recommendations.
   - Per user, display the brands s/he's already following
   - For each brand, compute the distance to all other brands
   - Average all distances to find the few closest brands, with the shortest average distance
   - Make sure you exclude the brands the user is already following from the recommendations
   
   
**Hint: Remember that in this case, lower distances are closer matches!**

In [20]:
def jaccard_distance(M):
    n_brands = M.shape[1]
    I = M.T.dot(M)  # number of users in common 
    n_users_per_brand = np.diag(I)
    N = n_users_per_brand.reshape(n_brands, 1) * np.ones(n_brands)
    U = N + N.T - I  # total unique followers = n_users_i + n_users_j - users in common
    J = I / U.astype(float)  # similarity matrix
    D = 1 - J  # distance
    return D

In [14]:
n_brands = M.shape[1]
### Top part of fraction
I = M.T.dot(M)  # number of users in common 
n_users_per_brand = np.diag(I)
N = n_users_per_brand.reshape(n_brands, 1) * np.ones(n_brands)
print N

### Bottom part of fraction
U = N + N.T - I  # total unique followers = n_users_i + n_users_j - users in common 
print U
J = I / U.astype(float)  # similarity matrix
D = 1 - J  # distance

[[ 260.  260.  260. ...,  260.  260.  260.]
 [   8.    8.    8. ...,    8.    8.    8.]
 [   1.    1.    1. ...,    1.    1.    1.]
 ...,
 [   4.    4.    4. ...,    4.    4.    4.]
 [   1.    1.    1. ...,    1.    1.    1.]
 [   1.    1.    1. ...,    1.    1.    1.]]
brand                  6pm.com  Abercrombie & Fitch  Adidas  Aeropostale  \
brand
6pm.com                    260                  267     260          266
Abercrombie & Fitch        267                    8       9           14
Adidas                     260                    9       1            8
Aeropostale                266                   14       8            7
Aldo                       261                    9       2            8
All Saints                 261                    9       2            8
Amazon.com                 261                    9       2            8
American Apparel           262                   11       4           10
American Eagle             281                   27      23           26
Ann Taylor                 266                   16       9           15
Anthropologie              266                   14       7           13
Apple                      262                   10       3            9
Armani                     262                   10       3            9
Armani Exchange            261                    9       2            8
Ashley Stewart             261                    9       2            8
BCBG                       261                    9       2            8
BCBGMAXAZRIA               597                  436     429          435
BCBGeneration              261                    9       2            8
BUCKLE                     264                   11       5           11
Bali                       261                    9       2            8
Banana Republic           1061                  937     932          938
Barneys                    261                    9       2            8
Barneys Warehouse          261                    9       2            8
Bed Bath & Beyond          266                   13       8           14
Betsey Johnson             439                  252     245          251
Billabong                  261                    9       2            8
Billionaire Boys Club      261                    9       2            8
Black Diamond              261                    9       2            8
Bloomingdale's             260                    8       2            7
Boden                      261                    9       2            8
...                        ...                  ...     ...          ...
Target                    1938                 1868    1866         1868
The Limited                261                   10       3            9
The North Face             261                    9       2            8
Tilly's                    261                    9       2            8
Tobi                       261                    9       2            8
Tommy Hilfiger             457                  264     257          261
Topshop                    261                    9       2            8
Torrid                     262                   10       3            9
Tory Burch                 262                   10       3            9
True Religion              262                   10       3            9
UGG Australia              262                   10       3            9
UNIQLO                     260                    9       2            8
Under Armour               264                   12       5           10
Urban Outfitters           269                   16      10           16
Vans                       261                    8       2            8
Vera Bradley               262                   10       3            9
Victoria's Secret          274                   21      16           20
Villeroy & Boch            301                   94      87           93
Vince Camuto               261                    9       2            8
Vitamix                    261                    9       2            8
Walgreens                  262                   10       3            9
Walk-Over                  261                    9       2            8
Wet Seal                   269                   16      10           16
Windsor                    261                    9       2            8
YSL                        261                    9       2            8
Yves Saint Laurent         261                    9       2            8
ZOO                        261                    9       2            8
Zara                       264                   11       5           11
Zipcar                     261                    9       2            8
vineyard vines             261                    9       2            8

brand                  Aldo  All Saints  Amazon.com  American Apparel  \
brand
6pm.com                 261         261         261               262
Abercrombie & Fitch       9           9           9                11
Adidas                    2           2           2                 4
Aeropostale               8           8           8                10
Aldo                      1           2           2                 4
All Saints                2           1           2                 4
Amazon.com                2           2           1                 4
American Apparel          4           4           4                 3
American Eagle           23          23          23                25
Ann Taylor                9           9           9                11
Anthropologie             7           7           7                 9
Apple                     3           3           3                 5
Armani                    3           3           3                 5
Armani Exchange           2           2           2                 4
Ashley Stewart            2           2           2                 4
BCBG                      2           2           2                 4
BCBGMAXAZRIA            430         430         430               432
BCBGeneration             2           2           2                 4
BUCKLE                    5           5           5                 7
Bali                      2           2           2                 4
Banana Republic         933         933         933               934
Barneys                   2           2           2                 4
Barneys Warehouse         2           2           2                 4
Bed Bath & Beyond         8           8           8                10
Betsey Johnson          246         246         246               248
Billabong                 2           2           2                 4
Billionaire Boys Club     2           2           2                 4
Black Diamond             2           2           2                 4
Bloomingdale's            2           2           2                 4
Boden                     2           2           2                 4
...                     ...         ...         ...               ...
Target                 1866        1867        1866              1866
The Limited               3           3           3                 5
The North Face            2           2           2                 4
Tilly's                   2           2           2                 4
Tobi                      2           2           2                 4
Tommy Hilfiger          258         258         257               260
Topshop                   2           2           2                 4
Torrid                    3           3           3                 5
Tory Burch                3           3           3                 5
True Religion             3           3           3                 5
UGG Australia             3           3           3                 5
UNIQLO                    2           2           2                 3
Under Armour              5           5           5                 7
Urban Outfitters         10          10          10                11
Vans                      2           2           2                 4
Vera Bradley              3           3           3                 5
Victoria's Secret        16          16          16                18
Villeroy & Boch          88          88          88                90
Vince Camuto              2           2           2                 4
Vitamix                   2           2           2                 4
Walgreens                 3           3           3                 5
Walk-Over                 2           2           2                 4
Wet Seal                 10          10          10                12
Windsor                   2           2           2                 4
YSL                       2           2           2                 4
Yves Saint Laurent        2           2           2                 4
ZOO                       2           2           2                 4
Zara                      5           5           5                 7
Zipcar                    2           2           2                 4
vineyard vines            2           2           2                 4

brand                  American Eagle  Ann Taylor       ...        Walgreens  \
brand                                                   ...
6pm.com                           281         266       ...              262
Abercrombie & Fitch                27          16       ...               10
Adidas                             23           9       ...                3
Aeropostale                        26          15       ...                9
Aldo                               23           9       ...                3
All Saints                         23           9       ...                3
Amazon.com                         23           9       ...                3
American Apparel                   25          11       ...                5
American Eagle                     22          30       ...               24
Ann Taylor                         30           8       ...               10
Anthropologie                      28          14       ...                8
Apple                              24          10       ...                4
Armani                             24          10       ...                4
Armani Exchange                    23           9       ...                3
Ashley Stewart                     23           9       ...                3
BCBG                               23           9       ...                3
BCBGMAXAZRIA                      449         435       ...              431
BCBGeneration                      23           9       ...                3
BUCKLE                             25          12       ...                6
Bali                               23           9       ...                3
Banana Republic                   948         935       ...              934
Barneys                            23           9       ...                3
Barneys Warehouse                  23           9       ...                3
Bed Bath & Beyond                  28          15       ...                9
Betsey Johnson                    267         251       ...              247
Billabong                          23           9       ...                3
Billionaire Boys Club              23           9       ...                3
Black Diamond                      23           9       ...                3
Bloomingdale's                     23           9       ...                3
Boden                              23           9       ...                3
...                               ...         ...       ...              ...
Target                           1869        1867       ...             1866
The Limited                        24          10       ...                4
The North Face                     23           9       ...                3
Tilly's                            23           9       ...                3
Tobi                               22           9       ...                3
Tommy Hilfiger                    277         264       ...              259
Topshop                            23           9       ...                3
Torrid                             24          10       ...                4
Tory Burch                         23          10       ...                4
True Religion                      24          10       ...                4
UGG Australia                      24          10       ...                4
UNIQLO                             23           9       ...                3
Under Armour                       25          12       ...                6
Urban Outfitters                   30          17       ...               11
Vans                               22           9       ...                3
Vera Bradley                       24          10       ...                4
Victoria's Secret                  35          23       ...               17
Villeroy & Boch                   109          95       ...               89
Vince Camuto                       23           9       ...                3
Vitamix                            23           9       ...                3
Walgreens                          24          10       ...                2
Walk-Over                          23           9       ...                3
Wet Seal                           27          17       ...               11
Windsor                            23           9       ...                3
YSL                                23           9       ...                3
Yves Saint Laurent                 23           9       ...                3
ZOO                                23           9       ...                3
Zara                               26          12       ...                6
Zipcar                             23           9       ...                3
vineyard vines                     23           9       ...                3

brand                  Walk-Over  Wet Seal  Windsor   YSL  Yves Saint Laurent  \
brand
6pm.com                      261       269      261   261                 261
Abercrombie & Fitch            9        16        9     9                   9
Adidas                         2        10        2     2                   2
Aeropostale                    8        16        8     8                   8
Aldo                           2        10        2     2                   2
All Saints                     2        10        2     2                   2
Amazon.com                     2        10        2     2                   2
American Apparel               4        12        4     4                   4
American Eagle                23        27       23    23                  23
Ann Taylor                     9        17        9     9                   9
Anthropologie                  7        15        7     7                   7
Apple                          3        11        3     3                   3
Armani                         3        11        3     3                   3
Armani Exchange                2        10        2     1                   2
Ashley Stewart                 2        10        2     2                   2
BCBG                           2        10        2     2                   2
BCBGMAXAZRIA                 430       438      430   430                 430
BCBGeneration                  2        10        2     2                   2
BUCKLE                         5        12        5     5                   5
Bali                           2        10        2     1                   2
Banana Republic              933       940      933   932                 933
Barneys                        2        10        2     2                   2
Barneys Warehouse              2        10        2     2                   2
Bed Bath & Beyond              8        15        8     8                   8
Betsey Johnson               246       254      245   246                 246
Billabong                      2        10        2     2                   2
Billionaire Boys Club          2        10        2     2                   1
Black Diamond                  2        10        2     2                   2
Bloomingdale's                 2        10        2     2                   2
Boden                          2        10        2     2                   2
...                          ...       ...      ...   ...                 ...
Target                      1866      1867     1867  1866                1866
The Limited                    3        11        3     3                   3
The North Face                 2        10        2     2                   2
Tilly's                        2        10        2     2                   2
Tobi                           2        10        2     2                   2
Tommy Hilfiger               258       265      258   257                 258
Topshop                        2        10        2     2                   2
Torrid                         3        11        3     3                   3
Tory Burch                     3        11        3     3                   3
True Religion                  3        11        3     3                   3
UGG Australia                  3        10        3     3                   3
UNIQLO                         2        10        2     2                   2
Under Armour                   5        13        5     5                   5
Urban Outfitters              10        17       10    10                  10
Vans                           2         9        2     2                   2
Vera Bradley                   3        11        3     3                   3
Victoria's Secret             16        21       16    15                  16
Villeroy & Boch               88        96       88    87                  88
Vince Camuto                   2        10        2     2                   2
Vitamix                        2        10        2     2                   2
Walgreens                      3        11        3     3                   3
Walk-Over                      1        10        2     2                   2
Wet Seal                      10         9       10    10                  10
Windsor                        2        10        1     2                   2
YSL                            2        10        2     1                   2
Yves Saint Laurent             2        10        2     2                   1
ZOO                            2        10        2     2                   2
Zara                           5        13        5     5                   5
Zipcar                         2        10        2     2                   2
vineyard vines                 2        10        2     2                   2

brand                   ZOO  Zara  Zipcar  vineyard vines
brand
6pm.com                 261   264     261             261
Abercrombie & Fitch       9    11       9               9
Adidas                    2     5       2               2
Aeropostale               8    11       8               8
Aldo                      2     5       2               2
All Saints                2     5       2               2
Amazon.com                2     5       2               2
American Apparel          4     7       4               4
American Eagle           23    26      23              23
Ann Taylor                9    12       9               9
Anthropologie             7    10       7               7
Apple                     3     6       3               3
Armani                    3     6       3               3
Armani Exchange           2     5       2               2
Ashley Stewart            2     5       2               2
BCBG                      2     5       2               2
BCBGMAXAZRIA            430   432     430             430
BCBGeneration             2     5       2               2

In [18]:
brand_distance = jaccard_distance(M)
brand_distance.head(3)

brand,6pm.com,Abercrombie & Fitch,Adidas,Aeropostale,Aldo,All Saints,Amazon.com,American Apparel,American Eagle,Ann Taylor,...,Walgreens,Walk-Over,Wet Seal,Windsor,YSL,Yves Saint Laurent,ZOO,Zara,Zipcar,vineyard vines
brand,,,,,,,,,,,,,,,,,,,,,
6pm.com,0.000000,0.996255,0.996154,0.996241,1,1,1,0.996183,0.996441,0.992481,...,1,1,1.0000,1,1,1,1,1.000000,1,1
Abercrombie & Fitch,0.996255,0.000000,1.000000,0.928571,1,1,1,1.000000,0.888889,1.000000,...,1,1,0.9375,1,1,1,1,0.909091,1,1
Adidas,0.996154,1.000000,0.000000,1.000000,1,1,1,1.000000,1.000000,1.000000,...,1,1,1.0000,1,1,1,1,1.000000,1,1

Note that this is a _distance_ matrix, so the lower, the closer, the more similar.  Hence we have zeros on the diagonal.

Let's show the top most similar brands for some known brands.

In [23]:
top = 5
for brand in ['Apple']:
    print "%-20s:" % brand, 
    print ", ".join(brand_distance[brand].sort(ascending=True,inplace=False).index[:top])

Apple               : Apple, Diesel, Levi's, 6pm.com, Nambe

And let's pick some other random brands.

In [24]:
brands = M.columns

n_show = 10  # show a few brands
print "Top %d similar brands for some random %d brands" % (top, n_show)
for brand in np.random.choice(brands, n_show, replace=False):
    print "%-20s:" % brand, 
    print ", ".join(brand_distance[brand].sort(inplace=False).index[:top])

Top 5 similar brands for some random 10 brands
Sunglass Hut        : Sunglass Hut, CB2, Diesel, Last Call by Neiman Marcus, Kenneth Cole
Patagonia           : Patagonia, The North Face, Louis Vuitton, Ann Taylor, Coach
Adidas              : Adidas, MAC, Louis Vuitton, Gucci, Pottery Barn
Janie and Jack      : Janie and Jack, Pottery Barn, John Varvatos, Diesel, DKNY
Journeys            : Journeys, Topshop, UGG Australia, Lululemon, Wet Seal
New Balance         : New Balance, KitchenAid, Columbia, Levi's, Shoebuy
Bali                : Bali, Armani Exchange, YSL, Charles David, Lancome
Eddie Bauer         : Eddie Bauer, Life is good, Columbia, New Balance, Converse
Vitamix             : Vitamix, Cuisinart, KitchenAid, Kohl's, Old Navy
Children's Place    : Children's Place, Justice, Melissa & Doug, Puma, Old Navy

### Recommendations
Given a user, return recommended brands with scores

In [18]:
def recommend_brands_for_user(user, M, top=5):
    user_brands = M.loc[user][M.loc[user] > 0].index  # get brands of user
    brand_distance = jaccard_distance(M)        
    recs = brand_distance[user_brands].mean(axis=1).sort(ascending=True, inplace=False).index
    # remove all top brands that are already on this user's list
    recs = [rec for rec in recs if rec not in user_brands]
    return recs[:top]

In [19]:
n_users = 5
# for user in [90217, 86156, 89116, 89112]:
for user in np.random.choice(M.index, n_users, replace=False):
    print "User %s" % user
    print "Already following:", ", ".join(brands[M.loc[user] > 0])
    print "Recommended:", ", ".join(recommend_brands_for_user(user, M))
    print

User 82446
Already following: Guess
Recommended: Calvin Klein, Steve Madden, Express, DKNY, BCBGMAXAZRIA

User 81989
Already following: Crocs, Home Depot, Nordstrom, Old Navy, Target
Recommended: Kohl's, Gap, Crate & Barrel, KitchenAid, Express

User 80895
Already following: Target
Recommended: Old Navy, Kohl's, Home Depot, Gap, Crate & Barrel

User 81320
Already following: CB2, Crate & Barrel, Gap, J.Crew, Melissa & Doug, Nordstrom
Recommended: Banana Republic, KitchenAid, Container Store, Restoration Hardware, Cuisinart

User 82327
Already following: New Balance
Recommended: KitchenAid, Columbia, Levi's, Shoebuy, Converse